@model CadeMeuMedico.Models.Cidades

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Cidades</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDCidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDCidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.IDCidade }) |
    @Html.ActionLink("Back to List", "Index")
</p>
